	.notifications {
		border: 2px solid #ccc;
		background-color: #eee;
		border-radius: 5px;
		padding: 10px;
		margin: 16px 0
	}

	.notifications::after {
		content: "";
		clear: both;
		display: table;
	}

	.notifications-img {
		float: left;
		margin-right: 20px;
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}


	.notifications-toolbar {
		float: right;
		padding: 0 10px;
	}

	.notifications-date {
		font-size: 10px;
		font-style: italic;
		margin: 8px;
	}